<link rel="stylesheet" href="./static/plugins/ep_weave/static/css/index.css" type="text/css" />
<link rel="stylesheet" href="./static/plugins/ep_weave/static/css/styles.css" type="text/css" />

<div id="weave-index">
  <div class="weave-toolbar">
  </div>
  <div class="weave-container">
  </div>
</div>

<div class="weave-error">
    <div class="weave-error-title">Error</div>
    <div class="weave-error-message"></div>
    <i class="fa fa-close weave-error-close"></i>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.6/require.min.js">
</script>
<script src="https://code.jquery.com/jquery-3.7.1.slim.min.js"
  integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8="
  crossorigin="anonymous"></script>

<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous">
</script>

<script type="text/javascript">
  $(document).ready(function(){
    require(['index/index'], function(index) {
      console.log("index loaded", index);
      index.default();
    });
  });
</script>
