.hashview-change-title {
    background-color: #64d29b;
    color: #fff;
    display: none;
}

.hashview-title-duplicated {
    background-color: #f00;
    color: #fff;
    display: none;
}

.hashview {
    background-color: white;
    position: absolute;
    z-index: 100;
    width: 100%;
    bottom: 0;
    border-top: 1px solid #ccc;
    padding: 0;
    height: 30vh;
    max-height: 80vh;
}

#hashview {
    overflow-y: auto;
    padding: 8px;
    height: calc(100% - 92px);
}

.hashview-toolbar {
    display: flex;
    padding: 8px;
}

.hashview-search {
    display: flex;
    min-width: 50%;
}

.hashview-search-box {
    flex-grow: 1;
}

.hashview-sort {
    margin-left: auto;
}

.hashview-collapsed {
    height: 1em !important;
}

.hashview-collapsed .hashview-handle {
    display: none;
}

.hashview-collapsed .hash-container {
    display: none;
}

.hashview-collapsed i {
    display: none;
}

.hashview-close {
    position: absolute;
    right: 1em;
    top: 1em;
}

.hash-container {
    font-size: 0.9em;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1em;
    margin-left: 1em;
}

.hash-text {
    font-weight: bold;
}

.hash-link {
    border: 1px solid #eee;
    margin: 1em;
    padding: 1em;
    width: 147px;
    height: 128px;
    word-wrap: break-word;
    background-color: white;
    box-shadow: 0 0 5px #999;
}

.hash-title {
    font-weight: bold;
}

.hash-title a {
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
}

.hash-shorttext {
    color: #555;
    text-overflow: ellipsis;
    overflow: hidden;
}

.hash-create {
    background-color: #f8f8f8;
}

.hash-create .hash-title {
    color: #888;
}

.hashview-handle {
    cursor: ns-resize;
    width: 100%;
    height: 4px;
    background-color: #eee;
}

#hashview-navbar {
    padding: 8px;
}

.hashview-path-separator {
    color: #888;
    margin: 0 8px;
}

.hashview-toolbar-child-marker {
    margin-left: 1em;
    font-size: 1.5em;
    margin-right: 4px;
    color: #999;
}
